<html>
  <head>
    <title>Flask Intro - prova verifica</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>scansiona poter</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="ip" name="ip" value="ip">
         <input type="number" placeholder="start" name="start" value="4999">
         <input type="number" placeholder="stop" name="stop" value="5001">
        <input class="btn btn-default" type="submit" value="research">
      </form>
    </div>
  </body>
</html>